input[type="number"] {
  max-width: 60%;
}

div.outer {
  position: fixed;
  top: -13px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  /*overflow: hidden;*/
  padding: 0;
}

/* Customize fonts */
body, label, input, button, select { 
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 200;
}
h1, h2, h3, h4 { font-weight: 400; }

#controls1 {
  /* Appearance */
  background-color: white;
  padding: 0 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.4;
  zoom: 0.9;
  transition: opacity 500ms 0ms;
}
#controls1:hover {
  /* Fade in while hovering */
  opacity: 0.9;
  transition-delay: 0;
}

#controls2 {
  /* Appearance */
  background-color: rgba(100, 100, 100, 0);
  border-color: rgba(100, 100, 100, 0);
  padding: 5px 5px 5px 5px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.6;
  zoom: 0.9;
  transition: opacity 500ms 0ms;
}
#controls2:hover {
  /* Fade in while hovering */
  opacity: 0.9;
  transition-delay: 0;
}

#controls3 {
  /* Appearance */
  background-color: white;
  padding: 0px 0px 0px 0px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.4;
  zoom: 0.9;
  transition: opacity 500ms 0ms;
}
#controls3:hover {
  /* Fade in while hovering */
  opacity: 0.9;
  transition-delay: 0;
}


/* Position and style citation */
#cite {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
}

/* If not using map tiles, show a white background */
.leaflet-container {
  background-color: white !important;
}

.shiny-progress .progress-text {
  /*position: absolute;*/
  /*right: 20px;*/
  /*top: 300px;*/
  /*height: 25px;*/
  width: 600px;
  background-color: #FF6347;
  color: black;
  /*margin-left: 50%;*/
  margin-right: 32%;
  /*margin-left: 12%;*/
  margin-top: 4%;
  padding: 5px 100px 35px 120px;
  opacity: 0.8;
  font-size: 18px;
}


.shiny-progress .bar {
background-color: #FF6347;
.opacity = 0.8;
  width: 300px;
}

.shiny-progress .progress {
height:1px;
}

.leaflet {
  height: 100%; 
  width: 100%;
}

/*#calendar{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}*/


/*#graph3{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}*/

#barplot1{
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#barplot2{
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#imageRAZO{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#Q1,#Q2,#Q3,#Q4,#Q5,#Q6,#Q7,#Q8,#Q9,#Q10,#Q11{
  color: black;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
}


#a7,#a8{
  color: black; 
  background-color: lightblue;
  /*opacity:0.1;*/
}


nav .container:first-child{
  margin-left:0%; width: 100%;     /*5*/
  margin-right:0%px; width: 100%;  /*10*/
  margin-bottom:0px; width: 100%;
  margin-top:0px; width: 100%;
}

.container {
    width: 100%;
    white-space: nowrap;
}

.navbar{
  background-color: #c4e3ed;
  border-color: #c4e3ed;
}

/*.navbar .nav{*/
 /* text-shadow: 0 -1px 0 gray;*/
 /* color:  black;*/
/*}*/

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  background-color: #c4e3ed;
  color: white;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  background-color: #8ac7db;
  color: white;
}


.navbar .navbar-header .navbar-brand {
    color: white;
} 

.navbar .navbar-header .navbar-brand:hover {
    color: tomato;
} 





